<div class="section no-pad-bot" id="index-banner">
    <div class="container">
      <br><br>
      <h1 class="header center" style="color: #ee6e73">Welcome</h1>
      <div class="row center">
        <h5 class="header col s12 light">Login to add your To do list.</h5>
      </div>
      <div class="row center">
        <%= link_to "Sign up",new_user_registration_path, class:"btn waves-effect waves-light"%>
      </div>
      <br><br>
    </div>
  </div>
