<ul>
    <% @todos.each do |todo| %>
    <%= link_to todo_path(todo), method: :delete, remote: true do %>
    <li class="todo-li">
        <div class="fa fa-check"></div>
    </a><%= todo.description %>
    <div class="pull-right">
        <% if todo.priority == "High" %>
        <span class="label label-danger">
            <i class="fa fa-tasks"></i>
        </span>
        <%elsif todo.priority == "Medium"%>
        <span class="label label-primary">
            <i class="fa fa-tasks"></i>
        </span>
        <%else%>
        <span class="label label-warning">
            <i class="fa fa-tasks"></i>
        </span>
        <%end%>
    </div>

</li>
<%end%>
<% end %>
</ul>
